* {
  padding: 0;
  margin: 0;
  border: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1280px; 
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  color: #464547;
}

.title-wrapper {
  text-align: center;
  font-family: 'Source Sans 3', sans-serif;
}

.toggle-section {
  position: absolute;
  top: 30%;
  right: -40%;
  cursor: pointer;
}


@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  .toggle-section {
    top: 30%;
    right: -20%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .toggle-section {
    top: 30%;
    right: -30%;
  }
}