.joinOurProgram-container {
  background-image: url('./public/photo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 436px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.joinOurProgram-title {
  font-family: 'Oswald';
  color: white;
  font-weight: 700;
  font-size: 48px;
}

.joinOurProgram-parraph {
  color: white;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.unSuscribe-btn {
  background-color: transparent;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: white;
  transition: color 0.5s ease; 
  cursor: pointer;
}

.unSuscribe-btn:hover {
  color: #55c2d8; 
}

.submit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.input {
  height: 36px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: white;
}

input::placeholder {
  color: white;
}

.subscribe-button {
    height: 36px;
    width: 115px;
    background: #55C2D8;
    border-radius: 18px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}

.loading {
  opacity: 0.5;
}

@keyframes colorChange {
  0%   {color: rgb(245, 243, 243);}
  50%  {color: rgb(255, 0, 0);}
  100% {color: rgb(245, 243, 243);}
}

.erorrMessage {
  color: rgb(245, 243, 243);
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.9);
  animation: colorChange 3s infinite;
}

@media screen and (max-width: 780px) {
  .joinOurProgram-container {
    background-position: bottom 0px left -286px;
    height: 523px;
    padding: 20px;
  }

  .submit-container input {
    width: 90%;
  }

  .submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  input {
    width: 70%;
  }
}


